* {
    margin: 0;
    padding: 0;
    font-family: monospace;
}

body {
    min-height: 100dvh;
    background-color: #444;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button {
    width: 250px;
  background: linear-gradient(45deg, #ff0000, #ff9900, #ff0000);
  background-size: 200% 200%;
  color: white;
  padding: 15px 30px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: ease-in-out transform 0.4s;
  font-size: 18px;
}

.button:hover {
  animation: gradientShift 3s infinite linear;
  transform: scale(1.1);
}

@keyframes gradientShift {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}