* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #fff;
    display: flex;
    justify-content: center;
    padding-bottom: 150px; 
}

footer {
    width: 100%;
    height: 150px;
    position: fixed; 
    bottom: 0;
    left: 0; 
    z-index: 100; 
    background-color: #333;

    display: flex;
    justify-content: space-between; 
    align-items: center; 
    padding: 0 40px; 
    box-sizing: border-box; 
}

footer .logo {
    color: white; 
    font-size: 24px;
}
footer .logo h1 {
    margin: 0; 
}

footer .footer-links {
    display: flex;
    gap: 30px; 
    align-items: center; 
}

footer .footer-links ul {
    list-style: none;
    display: flex; 
    flex-direction: row; 
    gap: 30px; 
    height: 30px;
    align-items: center; 
}

footer .footer-links ul li a {
    font-size: 18px;
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer .footer-links ul li a:hover {
    color: #FF5733; 
}

.social-icons {
    display: flex;
    list-style: none;
    gap: 20px;
}

.social-icons a {
    color: white;
    font-size: 20px;
    transition: color 0.3s ease;
}

.social-icons a:hover {
    color: #FF5733;
}

@media (max-width: 900px){
    footer {
        flex-direction: column;
        height: auto; 
        padding: 20px 40px; 
        text-align: center; 
    }

    footer .logo {
        margin-bottom: 20px; 
    }

    .footer-links {
        flex-direction: column !important; 
        gap: 20px !important; 
    }

    footer .footer-links ul {
        justify-content: center;
    }
}

@media (max-width: 400px) {
    footer .footer-links ul li a{
        font-size: 16px;
    }

    footer .footer-links .social-icons i {
        font-size: 20px;
    }
}