@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

@keyframes backgroundMove {
    0% {
        background-position: 0% 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0% 0;
    }
}

body {
    background: linear-gradient(90deg, #440000, #680000, #ff0000, #440000, #680000);
    background-size: 400% 100%;
    background-position: 0% 0;
    animation: backgroundMove 10s linear infinite;

    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.launch {
    background-color: #830202;
    font-size: 200px;
    color: #ffd700; 
    border: 2px solid #000;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative; 

    box-shadow: 
        0px 20px 0px 0px #000000, 
        0 0 30px rgba(255, 0, 0, 0.5), 0 0 60px rgba(255, 0, 0, 0.3), 
        inset 0 0 40px rgba(255, 255, 255, 0.1); 
    transition: transform 0.15s ease-out, box-shadow 0.15s ease-out, background-color 0.15s ease-out;
}

.launch:hover {
    background-color: #9f0000; 
    box-shadow: 
        0px 20px 0px 0px #000000, 
        0 0 40px #ff3333, 0 0 80px #ff0000, 
        inset 0 0 50px rgba(255, 255, 255, 0.15);
}

.launch:active {
    transform: translateY(20px); 
    box-shadow: 
        0px 0px 0px 0px #000000,
        0 0 200px 0px rgb(255, 0, 0);
    background-color: #ce0000;
}

.launch:active .bi-rocket-takeoff { 
    color: #fff; 
    text-shadow: 
        0 0 5px #fff, 
        0 0 20px #ff0, 
        0 0 40px #ff0000,
        0 0 80px #ff0000;
}