body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #010101;
  perspective: 1000px;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cube {
  width: 100px;
  height: 100px;
  position: relative;
  transform-style: preserve-3d; 
  transform: rotateX(25deg) rotateY(45deg); 
  animation: rotateCube 5s infinite linear;
}

.face {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: #0fbcf9;
  border: 1px solid #000; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  color: white;
}

.front { transform: translateZ(50px); }
.back { transform: rotateY(180deg) translateZ(50px); }
.left { transform: rotateY(-90deg) translateZ(50px); }
.right { transform: rotateY(90deg) translateZ(50px); }
.top { transform: rotateX(90deg) translateZ(50px); }
.bottom { transform: rotateX(-90deg) translateZ(50px); }

@keyframes rotateCube {
  0% { transform: rotateX(0) rotateY(0); }
  100% { transform: rotateX(360deg) rotateY(360deg); }
}