* {
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, #4b4b4b, #7e7e7e, #ececec);
}

.card-container {
    align-items: center;
    display: flex;
    justify-content: center;
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.card {
    background: linear-gradient(45deg, #98e2ff, #ade8ff, #c4eeff, #d6f3ff, #e5f7ff);
    width: 650px;
    height: 380px;
    border-radius: 22px;
    border: #aaaaaa;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
    display: grid;
    grid-template-columns: 150px 1fr; 
    position: relative; 
    padding-left: 100px;
}

.image-card::after, .image-card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 25%, rgb(0, 225, 255) 50%, transparent 75%, rgb(0, 225, 255) 100%);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 5px;
    border-radius: 50%;
    animation: 1.4s spin linear infinite;
}

.card::after, .card::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--angle), transparent 15%, rgb(0, 255, 242));
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 2px;
    border-radius: 23px;
    animation: 12s spin linear infinite;
}

.image-card::before {
    filter: blur(3rem);
    opacity: 0.5;
}

.card::before {
    filter: blur(3rem);
    opacity: 0.5;
}

@keyframes spin {
    from{
    --angle: 0deg;
    }
    to {
    --angle: 360deg;
    }
}

.image-card {
    width: 300px; 
    height: 300px; 
    position: absolute; 
    left: 0; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4); 
    border-radius: 50%; 
    background-color: white; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

.image-card img {
    width: 100%; 
    height: 100%; 
    display: block;
    object-fit: cover; 
    border-radius: 50%; 
}

.card-text {
    grid-column: 2 / 3; 
    padding: 30px;
    padding-left: 0px;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: flex-start;
}

.card-text h1 {
    font-size: 2.5em; 
    margin-bottom: 10px;
}

.card-text p {
    font-size: 1.1em; 
    line-height: 1.5;
}

.card-btn {
    padding: 8px 12px;
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    font-size: 21px;
    background: #fffb26;
    border: none;
    border-radius: 22px;
    transition: all 0.3s ease-in-out;
    color: #3f3f3f;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.4);
}

.card-btn:hover {
    color: #252525;
    background: #fffb13;
    cursor: pointer;
    transform: translateY(-5px) scale(1.05);
    box-shadow: 0 5px 13px rgba(0, 0, 0, 0.6);
}

.card-btn:active .card-btn-icon {
    transform: rotate(20deg);
    transition: transform 0.2s;
}


.card-btn a {
    text-decoration: none;
    color: #3f3f3f;
}

.card-btn-icon {
    font-size: 1rem;
    margin-left: 6px;
}

.card-title {
    animation: bounce 2s infinite alternate;
    font-size: 1.2em;
}

@keyframes bounce {
    from { transform: translateY(0); }
    to { transform: translateY(-10px); }
}
