@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --x:45deg;
    --clr-bg:#0e0e1f;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100dvh;
    background: var(--clr-bg);
}

a {
    position: relative;
    width: 175px;
    height: 80px;
    display: inline-block;
    background-color: #fff;
    border-radius: 8px;
}

a i {
    position: absolute;
    inset: -2px;
    display: block;
    border-radius: 8px;
}

a i,
a i:nth-child(2) {
    background: linear-gradient(var(--x), #00ccff, #0e0e1f, #0e0e1f, #d400d4);
}

a i:nth-child(2) {
    filter: blur(10px);
}

a span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    border: 1px solid #0e0e1f;
    border-radius: 6px;
    background: rgba(14, 21, 56, 0.65);
    overflow: hidden;
}

a span:before {
    content: '';
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.025);
    transform: skew(-25deg);
}