* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    height: 100dvh;
    background: #111111;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 500px;
    height: 200px;
    background: #161616;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-radius: 12px;
    border: 1px solid #00000094;
}

.icon-hover {
    font-size: 32px;
    background: #000000;
    width: 75px;
    height: 75px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.icon-hover:hover {
    transform: scale(1.15) rotate(10deg);
}

.icon-hover1:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    box-shadow: 0 10px 20px rgba(214, 36, 159, 0.5);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.5);
}

.icon-hover2:hover {
    background-color: #1877F2;
    box-shadow: 0 10px 20px rgba(24, 119, 242, 0.5);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.5);
}

.icon-hover3:hover {
    background-color: #25D366;
    box-shadow: 0 10px 20px rgba(37, 211, 102, 0.5);
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 20px rgba(255, 255, 255, 0.5);
}

.icon-hover4:hover {
    background-color: #010101; 
    text-shadow: 2px 2px #ff0050, -2px -2px #00f2ea; 
    box-shadow: 0 10px 20px rgba(0, 242, 234, 0.3);
}