* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background-color: #555;
}

p {
    padding: 30px;
    font-size: 17px;

}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    box-shadow: 0px 5px 20px 5px;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: gray;
    background-image: linear-gradient(45deg, #e2fa0a 0%, #ff9102 46%, #ff0000 100%);
}

::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}