body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#screen {
    position: relative;
}

#launchBtn {
    font-size: 28px;
    padding: 12px 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

#radar {
    width: 300px;
    height: 300px;
    border: 2px solid #0f0;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    margin-top: 20px;
    opacity: 0;
    transition: .4s;
}

.line {
    width: 150px;
    height: 2px;
    background: #0f0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: left center;
    animation: rotate 2s linear infinite;
    opacity: .8;
}

@keyframes rotate {
    from { transform: rotate(0deg) translate(-50%, -50%); }
    to   { transform: rotate(360deg) translate(-50%, -50%); }
}

.target {
    width: 20px;
    height: 20px;
    background: red;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    left: 60%;
    opacity: 0;
    transform: scale(0.4);
    transition: .4s;
    box-shadow: 0 0 10px red;
}
