* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    animation: slide 3s ease-out;
    position: relative;
}

.b1 {
    background-color: aqua;
    border-top-left-radius: 50px;
}
.b2 {
    background-color: blueviolet;
    border-top-right-radius: 50px;
}
.b3 {
    background-color: brown;
    border-bottom-left-radius: 50px;
}
.b4 {
    background-color: chocolate;
    border-bottom-right-radius: 50px;
}

.b1, .b2, .b3, .b4 {
    width: 200px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: white;
    position: relative;
    transition: ease-in-out 0.3s;
}

.container:hover .b1 { transform: translate(-50px, -50px) rotate(45deg); }
.container:hover .b2 { transform: translate(50px, -50px) rotate(45deg); }
.container:hover .b3 { transform: translate(-50px, 50px) rotate(45deg); }
.container:hover .b4 { transform: translate(50px, 50px) rotate(45deg); }
